doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css")
        link(rel="shortcut icon", href="/static/imgs/headerxp.png", type="image/png")
        title Actualizar Odoo - Firebase
    body 
        .container
            .row
                .col-12 
                    button#btn.btn.btn-primary.btn-lg.d-block.mx-auto.mt-4 Actualizar Datos
                    #alert
        script(src="/static/js/index.js") 